# vim files
*~
*.swp
*.tmp
*.bak

# ignore *.dot for GraphViz
*.dot
!dead-code/output/*.dot
*.ps
*.pdf
# ignore *.cocci_res (result file from spatch)
*.cocci_res
# but include those in results/ directory
!ex1/results/*.cocci_res

